markt-MVP-venv/
apps/mail/__pycache__/
apps/mail/migrations/__pycache__/
apps/orders/__pycache__/
apps/orders/migrations/__pycache__/
apps/payment/__pycache__/
apps/payment/migrations/__pycache__/
apps/shopping_cart/__pycache__/
apps/shopping_cart/migrations/__pycache__/
apps/checkout/__pycache__/
apps/checkout/migrations/__pycache__/
apps/lists/__pycache__/
apps/lists/migrations/__pycache__/
apps/user/__pycache__/
apps/user/migrations/__pycache__/
apps/products/__pycache__/
apps/products/migrations/__pycache__/
apps/stores/__pycache__/
apps/stores/migrations/__pycache__/
core/__pycache__/
apps/__pycache__/

