.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
  }
  
  .home-title {
    margin-bottom: 20px;
  }
  
  .home-description {
    margin-bottom: 40px;
  }
  
  .explore-button .nav-link {
    color: inherit;
    text-decoration: none;
  }
  